<h1>Login</h1>
<form>
    <div class="col-xs-6">
        <!-- Error message here -->
        <input name="username" ng-model="$ctrl.username"/>
        <input name="password" type="password" ng-model="$ctrl.password"/>

        <button type="submit" class="btn btn-default">Login</button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.logout()">Logout</button>
        <button type="button" class="hidden-xs-up btn btn-default" ng-click="$ctrl.checkStatus()">Check Status</button>
        <button type="button" class="hidden-xs-up btn btn-danger" ng-click="$ctrl.deleteUser()">Delete user</button>
    </div>
    <div class="col-xs-12" ng-show="$ctrl.loading">Loading</div>
</form>
